body {
    margin: 15px;
    position: relative;
    white-space: normal;

}

.sidebar {
    width: 100px;
}

img {
    width: 230px;;
    margin: 10px;
}

.lb {
    color: white;
}
